themes {
    current {
        text_unselected {
            base 204 204 204
            background 30 30 30
            emphasis_0 245 245 67
            emphasis_1 41 184 219
            emphasis_2 35 209 139
            emphasis_3 214 112 214
        }
        text_selected {
            base 204 204 204
            background 38 79 120
            emphasis_0 245 245 67
            emphasis_1 41 184 219
            emphasis_2 35 209 139
            emphasis_3 214 112 214
        }
        ribbon_selected {
            base 30 30 30
            background 35 209 139
            emphasis_0 241 76 76
            emphasis_1 245 245 67
            emphasis_2 214 112 214
            emphasis_3 59 142 234
        }
        ribbon_unselected {
            base 30 30 30
            background 102 102 102
            emphasis_0 241 76 76
            emphasis_1 204 204 204
            emphasis_2 59 142 234
            emphasis_3 214 112 214
        }
        table_title {
            base 35 209 139
            background 0
            emphasis_0 245 245 67
            emphasis_1 41 184 219
            emphasis_2 35 209 139
            emphasis_3 214 112 214
        }
        table_cell_selected {
            base 204 204 204
            background 38 79 120
            emphasis_0 245 245 67
            emphasis_1 41 184 219
            emphasis_2 35 209 139
            emphasis_3 214 112 214
        }
        table_cell_unselected {
            base 204 204 204
            background 30 30 30
            emphasis_0 245 245 67
            emphasis_1 41 184 219
            emphasis_2 35 209 139
            emphasis_3 214 112 214
        }
        list_selected {
            base 204 204 204
            background 38 79 120
            emphasis_0 245 245 67
            emphasis_1 41 184 219
            emphasis_2 35 209 139
            emphasis_3 214 112 214
        }
        list_unselected {
            base 204 204 204
            background 30 30 30
            emphasis_0 245 245 67
            emphasis_1 41 184 219
            emphasis_2 35 209 139
            emphasis_3 214 112 214
        }
        frame_selected {
            base 35 209 139
            background 0
            emphasis_0 245 245 67
            emphasis_1 41 184 219
            emphasis_2 214 112 214
            emphasis_3 0
        }
        frame_highlight {
            base 245 245 67
            background 0
            emphasis_0 214 112 214
            emphasis_1 245 245 67
            emphasis_2 245 245 67
            emphasis_3 245 245 67
        }
        exit_code_success {
            base 35 209 139
            background 0
            emphasis_0 41 184 219
            emphasis_1 30 30 30
            emphasis_2 214 112 214
            emphasis_3 59 142 234
        }
        exit_code_error {
            base 241 76 76
            background 0
            emphasis_0 245 245 67
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 214 112 214
            player_2 59 142 234
            player_3 0
            player_4 245 245 67
            player_5 41 184 219
            player_6 0
            player_7 241 76 76
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
